@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileMenu {
    position: fixed;
    background: #232323;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

[x-cloak] {
    display: none;
}


a {
    cursor: pointer;
}

body {
    background-color: #232323;
}

.centerLogo {
    left: 50%;
    transform: translateX(-50%);
}

/* Image carousel */

.main--title{
    color: white;
    font-size: 3.5em;
    font-weight: 100;
    margin-left: 10%;
    width: 210px;
    line-height: 45px;
    transform: translateX(30%);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@media only screen and (min-width: 640px) {
    .main--title{
        color: white;
        font-size: 6em;
        font-weight: 100;
        margin-left: 10%;
        width: 310px;
        line-height: 90px;
        transform: translateX(30%);
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

@media only screen and (min-width: 768px) {
    .main--title{
        color: white;
        font-size: 7em;
        font-weight: 100;
        margin-left: 10%;
        width: 510px;
        line-height: 90px;
        transform: translateX(30%);
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}


.main--title.ended{
    transform: translateX(0);
    opacity: 0.4;
    mix-blend-mode: soft-light;
}

.main--title.ended:after {
    color: #a87c5b;
}

:root {
    --card-height: 180px;
    --card-width: 150px;
    --card-b-radius: 26px;
    --card-color: rgba(51, 51, 51, 1);

    --img-height: 180px; /*used for calculations in CSS, actually set in HTML */
    --img-padding-bottom: var(--card-b-radius);
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: var(--card-width);
    align-items: center;
    font-family: Arial;
}

.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: var(--card-height);
    justify-content: center;
    perspective: 300px;
}
.carousel__item {
    display: flex;
    color: #fff;
    font-size: 0px;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-b-radius);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
}

.carousel__item {
    color: white;
    background-color: #333;
}
.carousel__item * {
    display: inline;
}
.carousel__item h2 {
    position: absolute;
    top: 0;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    height: calc(
        var(--card-height) - var(--img-height) - var(--img-padding-bottom)
    );
    line-height: calc(
        var(--card-height) - var(--img-height) - var(--img-padding-bottom)
    );
    font-size: 32px;
}
.carousel__item div.img {
    position: relative;
    height: var(--img-height);
    width: var(--card-width);
    background-color: white;
}
.carousel__item:nth-child(1) div.img {
    background-color: white;
}

/* current */
.carousel__item[data-pos="1"] {
    z-index: 2;
}

/* prev, next */
.carousel__item[data-pos="0"],
.carousel__item[data-pos="2"] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
    z-index: 1;
}
.carousel__item[data-pos="0"] {
    transform: translateX(-40%) scale(0.9);
}
.carousel__item[data-pos="2"] {
    transform: translateX(40%) scale(0.9);
}

/* backstack */
.carousel__item[data-pos="3"],
.carousel__item[data-pos="4"],
.carousel__item[data-pos="5"],
.carousel__item[data-pos="6"],
.carousel__item[data-pos="7"] {
    opacity: 0;
}


.custom-shape-divider-bottom-1631560563 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631560563 .shape-fill {
    fill: var(--card-color);
}
/* END: Waves-Bottom */

.custom-shape-divider-top-1631560779 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1631560779 .shape-fill {
    fill: var(--card-color);
}
/* END: Tilt-Top */

.neumorphCard {
    background-color: rgba(178, 168, 159, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 10px 0;
    margin-top: 20px;
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(178, 168, 159, 0.06);
}

/* Hirek card */
.card {
    padding: 1rem;
    /*border-radius: 16px;*/
    background: #17141d;
    box-shadow: -1rem 0 3rem #00000067;
    transition: 0.2s;
    font-family: "Inter", sans-serif;
}

.card:hover {
    transform: translateY(-0.4rem);
}

.card:hover .title {
    background: linear-gradient(90deg, rgb(103 232 249), hsl(200, 98%, 39%));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-content .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.card-header {
    margin-bottom: auto;
    color: #7a7a8c;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header .title {
    font-size: 25px;
    margin: 0.25rem 0 auto;
    font-family: "Arial Black", sans-serif;
}


/*Polygon Card */
.newCard {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem;
}

@media only screen and (min-width: 640px) {
    .newCard {
        padding: 4.5rem 2rem;
    }
}

.card__content {
    display: grid;
    gap: 1rem;
}

.newCard:after, .newCard:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.newCard:before {
    background-image: linear-gradient(35deg,#C3732A 10%,#ffca94 25%,#FFD700 50%,#ffca94 75%,#C3732A 90%);
    border-radius: 0.25rem;
    height: calc(100% + 1px);
    top: -1px;
    transition: transform .24s ease-in;
}

.newCard:after {
    background-image: linear-gradient(to bottom,rgba(30,28,34,.75), #1e1c22 0.75rem);
}

.newCard:hover {
    transform: translateY(-0.4rem);
    transition: transform .24s ease-in;
}

.newCard:hover h2 {
    background: linear-gradient(90deg, #ffca94, #C3732A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moreTop:before {
    top: -3px !important;
}

.wome {
    background-color: #f1e1d0;
}


.depth {
    background-color: #C3732A;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

